x-passphrase-indicator{
	width: 100%;
	padding: 16px 0;
}

x-passphrase-indicator meter {
    width: 100%;
    height: 6px;

    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

x-passphrase-indicator .label {
	text-align: center;
}

x-passphrase-indicator meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
x-passphrase-indicator meter[value="10"]::-webkit-meter-optimum-value { background: var(--error-color); }
x-passphrase-indicator meter[value="70"]::-webkit-meter-optimum-value { background: var(--warning-color); }
x-passphrase-indicator meter[value="100"]::-webkit-meter-optimum-value,
x-passphrase-indicator meter[value="130"]::-webkit-meter-optimum-value { background: var(--success-color); }

/* Gecko based browsers */
x-passphrase-indicator meter[value="10"]::-moz-meter-bar { background: var(--error-color); }
x-passphrase-indicator meter[value="70"]::-moz-meter-bar { background: var(--warning-color); }
x-passphrase-indicator meter[value="100"]::-moz-meter-bar,
x-passphrase-indicator meter[value="130"]::-moz-meter-bar { background: var(--success-color); }

x-passphrase-indicator i:hover {
    cursor: pointer;
}